<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
  <add name="carmediaConnectionString" connectionString="server=localhost;User Id=root;password=123;database=carmedia"
   providerName="MySql.Data.MySqlClient" />
  <add name="carmediaConnectionString2" connectionString="server=localhost;User Id=root;database=carmedia;password=123"
   providerName="MySql.Data.MySqlClient" />
 </connectionStrings>
	<system.web>

        <authentication mode="Forms">
            <forms loginUrl="Admin/Default.aspx" name="ss"></forms>
        </authentication>
		<compilation debug="false" targetFramework="4.0">
			<assemblies>
				<add assembly="MySql.Data, Version=6.4.4.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>
				<add assembly="MySql.Web, Version=6.4.4.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/></assemblies></compilation>
	</system.web>
    
    <location path="admin">
        <system.web>
            <authorization>
                <deny users="?"/>
            </authorization>
        </system.web>
    </location>
</configuration>
